version: 2

env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
jobs:
  swiftlint:
    docker:
      - image: dantoml/swiftlint:latest
    steps:
      - checkout
      - run: swiftlint --strict

  test-iOS:
    macos:
      xcode: "10.2.0"
    steps:
      - checkout
      - run:
          name: test iOS
          command: |
            set -o pipefail
            xcodebuild -version
            xcodebuild -showsdks
            swift -version
            sh build.sh test-iOS

  test-native:
    macos:
      xcode: "10.2.0"
    steps:
      - checkout
      - run:
          name: test native
          command: |
            set -o pipefail
            xcodebuild -version
            xcodebuild -showsdks
            swift -version
            sh build.sh test-native

  examples:
    macos:
      xcode: "10.2.0"
    steps:
      - checkout
      - run:
          name: test native
          command: |
            set -o pipefail
            xcodebuild -version
            xcodebuild -showsdks
            swift -version
            sh build.sh examples

workflows:
  version: 2
  build-and-test:
    jobs:
      - swiftlint
      - test-native:
          requires:
          - swiftlint
      - test-iOS:
          requires:
          - swiftlint
      - examples:
          requires:
          - swiftlint
